Inteligencia Artificial/(07) Automacoes com IA no N8N - Primeiros Projetos/(10) Projeto 02 - Sistema de registro automático em planilha/Projeto 02 - Sistema de registro automatico em Google Sheets.json
{
  "name": "Projeto 02 - Sistema de registro automatico em Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cadastro",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -112
      ],
      "id": "c34fb919-56c0-4630-ae23-3691f5c867c6",
      "name": "Webhook",
      "webhookId": "cd9fe221-d067-4224-a34b-83484bba38b1"
    },
    {
      "parameters": {
        "jsCode": "const dados = $input.first().json.body\n\nif(!dados.name || dados.name.trim() === '') {\n  return { error: 'Nome é obrigatório.' }\n}\n\nif(!dados.email || !dados.email.includes('@')) {\n  return { error: 'E-mail é obrigatório.' }\n}\n\nif(!dados.phone || dados.phone.length < 4) {\n  return { error: 'Telefone é obrigatório.' }\n}\n\nreturn {\n  error: null,\n  name: dados.name.trim(),\n  email: dados.email.toLowerCase().trim(),\n  phone: dados.phone.trim(),\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -112
      ],
      "id": "e0e13932-cedf-4a09-908b-e835dae0fa56",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"{{ $('Code in JavaScript').item.json.error }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        240,
        -16
      ],
      "id": "17e18d40-6d20-4107-8637-9104fc1526a3",
      "name": "Return Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ec9ed7ac-7e7d-413a-ba8f-7745fe0b2391",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -112
      ],
      "id": "f7cce6cc-c46d-46f7-bbf3-8d070d2929e5",
      "name": "Validate input"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1MtOtzVzYxeXzhcZyTfWp2smY9DHt0Q-yFFGXHOqC_Pk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Users",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1MtOtzVzYxeXzhcZyTfWp2smY9DHt0Q-yFFGXHOqC_Pk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Phone": "={{ $json.phone }}",
            "Status": "ativo"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -208
      ],
      "id": "4b39ba91-b35a-4fa9-a21e-f2d76518e71f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R7mm0ek1jrjCwQPB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": null,\n  \"data\": {\n    \"name\": \"{{ $('Validate input').item.json.name }}\",\n    \"email\": \"{{ $('Validate input').item.json.email }}\",\n    \"phone\": \"{{ $('Validate input').item.json.phone }}\"\n  }\n}",
        "options": {
          "responseCode": 201
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        -208
      ],
      "id": "5f290179-f45b-4885-ad80-6817bed0390c",
      "name": "Return Ok"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Return Ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5755119e-84cb-42b8-a22c-745d74440094",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f240efc0a8e912e49a3126ec08372ee8f4077029d2e3e10beaf922da28c7ee3b"
  },
  "id": "SZZdFHUv6m9vYpL6",
  "tags": []
}